# General
.DS_Store
*.swp
*.bak
*.log
*.tmp
*.pid
*~
.idea/
.vscode/
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/
__pycache__/
.pytest_cache/

# Python
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.ipynb_checkpoints/
Pipfile.lock
poetry.lock
pdm.lock
.pdm-python
.pdm-build/
.pixi
__pypackages__/

# Jupyter
*.ipynb
*.sage.py

# Docker
docker-compose.override.yml
**/.dockerignore

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
.terraform.lock.hcl
terraform.tfstate.backup

# ML Artifacts
models/*.pkl
!models/versioned/
!models/.gitkeep
metaflow/
.metaflow/

# Data
data/raw/
data/processed/
*.csv
*.parquet
*.feather

# Monitoring
monitoring/prometheus-2.47.0.linux-amd64/  # Add this to ignore Prometheus binaries
monitoring/prometheus-*
monitoring/prometheus-*
*.bin
*.exe
